Resources:
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
      Listeners:
      - InstancePort: '80'
        LoadBalancerPort: '80'
        Protocol: TCP
        InstanceProtocol: TCP
      Policies:
      - Attributes:
        - Name: ProxyProtocol
          Value: 'true'
        InstancePorts:
        - '80'
        PolicyName: EnableProxyProtocol
        PolicyType: ProxyProtocolPolicyType